<div class="container pt-5 pt-5rem">
    <div class="flex-wrap row d-flex justify-content-center flex-lg-row">
        <div class="colloumn-1 col-lg-12 pl-0" id="home-calendar-col"> 
            <h3 class="pb-2 pl-1 dark-gray font-opan-sans">Select Date</h3>
            <div class="card-1 border border-white bg-white px-4 py-3">
                <div class="position-relative d-flex justify-content-between pb-2">
                    <h4 class="font-weight-700 font-opan-sans">Select Week</h4>
                    <button class="p-0 btn btn-outline-secondary calendar"
                        >
                        <img id="weekpicker" class="select-box calender-box"
                            src="../../assets/percentage.svg">
                    </button>

                </div>
                    <!-- Calendar -->
       
          <div class="row week-selector">
            <div class="">
              <div class="form-group clearfix">

                <div class="">
                  <span class="icon-block ">
                    <input type="text" placeholder="1/02/2022 - 8/02/2022" class="cursor-pointer border-0 form-control" id="weekpickers">
                    <span class="icon-date"></span>
                  </span>
                
                </div>
              </div>
            </div>
          </div>
        
    
          <!-- --- Calander -->
            </div>
          
        </div>
        <div class="colloumn-2">
            <h3 class="pb-2 pl-1 dark-gray font-opan-sans">First Admin</h3>
            <div class="cursor-pointer card1 border border-white bg-white p-4">
                <div class="d-flex justify-content-between pb-2">
                    <h5 class="opacity-75 font-opan-sans stauts-subheading">Completed
                        Over Time</h5>
                </div>
                <div class="d-flex justify-content-between font-DM-Sans">
                    <p class="font-size mb-0 fw-bold font-DM-Sans">0 of 0</p>

                    <p class="font-size mb-0 fw-bold font-DM-Sans">0%</p>
                </div>
            </div>
        </div>
        <div class="thirdColumn colloumn-3">
            <h3 class="pb-2 pl-1 d-none">Select Date</h3>
            <div class="cursor-pointer card1 border border-white bg-white p-4">
                <div class="d-flex justify-content-between pb-2">
                    <h5 class="opacity-75 font-opan-sans stauts-subheading">Completed
                        During the last Three Months</h5>
                </div>
                <div class="d-flex justify-content-between font-DM-Sans">
                    <h3 class="font-size mb-0 fw-bold font-DM-Sans">0 of 0</h3>
                    <h3 class="font-size mb-0 fw-bold font-DM-Sans">0%</h3>
                </div>
            </div>
        </div>
        <div class="thirdColumn colloumn-4 pr-0">
            <h3 class="pb-2 pl-1 d-none">Select Date</h3>
            <div class="cursor-pointer card1 border border-white bg-white p-4">
                <div class="d-flex justify-content-between pb-2">
                    <h5 class="opacity-75 font-opan-sans stauts-subheading">Completed
                        This Week</h5>
                </div>
                <div class="d-flex justify-content-between font-DM-Sans">
                    <h3 class="font-size mb-0 fw-bold font-DM-Sans">0 of 0</h3>
                    <h3 class="font-size mb-0 fw-bold font-DM-Sans">0%</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="border-radius task-for-this-period container border border-white
    bg-white mt-4 py-4 px-4">
    <div>
        <h4 class="pl-2 dark-gray pb-1 font-opan-sans">Tasks for this Period</h4>
        <div id="loadingImage1BORDER"
            onclick="showImage('','loadingImage1BORDER')"
            class="align-items-center mb-3 task-list cursor-pointer
            border-transpairent
            paragrharph-color fs-15 position-relative hover-border custom-shadow
            pr-32 pr-lg-0 pl-4 pr-2 px-lg-4 border-radius w-100 bg-white d-flex
            justify-content-between h-70">
         
                <input type="text" value="Create and run performace tests against the admin pages" class="py-3 w-100 border-0 outline-none mb-0 pr-3 pr-lg-5"
                id="delText1">
            <span
                id="loadingImage1" class="w-16"
                ><img class="delete-icone" src="../../assets/delete-icone.png"
                    onclick="deleteRow('delText1')"></span>
        </div>

        <div id="loadingImage1BORDER2"
            onclick="showImage('','loadingImage1BORDER2')"
            class="align-items-center mb-3 task-list cursor-pointer
            border-transpairent
            paragrharph-color fs-15 position-relative hover-border custom-shadow
            pr-32 pr-lg-0 pl-4 pr-2 px-lg-4 pr-2 px-lg-4 border-radius w-100 bg-white d-flex
            justify-content-between h-70">

            <input type="text" value="Send info to designer for application UX" class=" py-3 w-100 border-0 outline-none mb-0 pr-3 pr-lg-5"
            id="delText2">
          <span id="loadingImage2" class="w-16
                cursor-pointer
               "><img class=" delete-icone"
                    src="../../assets/delete-icone.png"
                    onclick="deleteRow('delText2')"></span></div>

        <div id="loadingImage1BORDER3"
            onclick="showImage('','loadingImage1BORDER3')"
            class="align-items-center mb-3 task-list cursor-pointer
            border-transpairent
            paragrharph-color fs-15 position-relative hover-border custom-shadow
            pr-32 pr-lg-0 pl-4 pr-2 px-lg-4  border-radius w-100 bg-white d-flex
            justify-content-between h-70">
            <input type="text" value="Follow up with legal on privacy and data retention policies" class="py-3 w-100 border-0 outline-none mb-0 pr-3 pr-lg-5"
            id="delText3">
          <span
                id="loadingImage3" class="w-16"
             ><img class=" delete-icone" src="../../assets/delete-icone.png"
                    onclick="deleteRow('delText3')"></span></div>
                    
        <h4 id="loadingImage1BORDERab2" class="pl-2 pt-1 dark-gray
            font-opan-sans">Risks</h4>
        <div>
            <div  id="loadingImage1BORDERad4" onclick="showImage('loadingImage4','loadingImage1BORDERad4')"
            class="align-items-center mb-3 task-list cursor-pointer
            border-transpairent
            paragrharph-color fs-15 position-relative hover-border custom-shadow
            pr-32 pr-lg-0 pl-4 pr-2 px-lg-4  border-radius w-100 bg-white d-flex
            justify-content-between h-70">
            <input type="text" value="No risk this week" class="py-3 w-100 border-0 outline-none mb-0 pr-3 pr-lg-5"
            id="delText4">
            <span id="loadingImage4" class="w-16"
                  ><img class=" delete-icone"
                        src="../../assets/delete-icone.png"
                        onclick="deleteRow('delText4','loadingImage1BORDERab2')"></span></div>
        </div>

    </div>

</div>

<div class="mb-5 border-radius task-for-this-period container border
    border-white bg-white mt-4 py-5 px-4">

    <div class="d-flex flex-column flex-lg-row">
        <div class="w-48 pr-0 pr-lg-4">
            <h4 class="fs-15 pl-2 dark-gray font-opan-sans">Task for the week of
                Jan 23, 2022 - Jan 29, 2022</h4>
            <div class="d-flex mt-4 justify-content-between">
                <p
                    class="paragrharph-color cursor-pointer fs-15 hover-border
                    wp-86 py-3 px-4 border-rounded-14 custom-shadow border
                    border-white bg-white mb-0">
                    Write designes for the value page</p>
                <div class="d-flex align-items-center pl-2 pl-lg-0">
                    <!-- Default switch -->
                    <label class="switch mb-0">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="d-flex mt-4 justify-content-between">
                <p
                    class="paragrharph-color cursor-pointer fs-15 hover-border
                    wp-86 py-3 px-4 border-rounded-14 custom-shadow border
                    border-white bg-white mb-0">
                    Create requests for UX desginer</p>
                <div class="d-flex align-items-center pl-2 pl-lg-0">
                    <!-- Default switch -->
                    <label class="switch mb-0">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="d-flex mt-4 justify-content-between">
                <p
                    class="paragrharph-color cursor-pointer fs-15 hover-border
                    wp-86 py-3 px-4 border-rounded-14 custom-shadow border
                    border-white bg-white mb-0">
                    Brainstorm on product name</p>
                <div class="d-flex align-items-center pl-2 pl-lg-0">
                    <!-- Default switch -->
                    <label class="switch mb-0">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-55 pl-0 pl-lg-4 border-start border-2 mt-5 mt-lg-0 border-none-medium">
            <div class="d-flex justify-content-between">
                <h4 class="dark-gray font-opan-sans">Overview of this Week</h4>
                <h4 class="pr-0 pr-lg-3 dark-gray mb-0">Status : <span class="pl-1"><img
                          class="status-bars"  src="../../assets/5lines.png"></span></h4>
            </div>
            <div class="d-flex mt-3 position-relative"
                id="loadingImage1BORDERa1"
                onclick="showImage('loadingImage5','loadingImage1BORDER5')">
                <h6 class="pt-3 dark-gray">Ups</h6>
                <textarea rows="6" cols="50" id="delText5" class="border-transpairent
                paragrharph-color w-100 py-2 fs-15 pl-4 pr-44 ml-4
                hover-border border-rounded-14 mb-12 font-weight-500
                custom-shadow min-height mb-3 outline-none">Risks have been added to the app and If there will be a huge String then this box (input field)will increase their size as we have made this now or If there will be small string as all then the size will be standard as remaining fields.
                </textarea>
              
                <img id="loadingImage5"
                    onclick="deleteRow('delText5')"
                    class="delete-icone"
                    src="../../assets/delete-icone.png"
                    class="position-absolute del-icon cursor-pointer">


            </div>
            <div id="loadingImage1BORDERa2" class="position-relative d-flex
                mt-10 align-items-center"
                onclick="showImage('','loadingImage1BORDER8')">
                <h6 class="letter-spacing-1 mb-0 dark-gray pr-2">Down</h6>
                <div id="loadingImage1BORDER8"
                class="align-items-center task-list cursor-pointer
                border-transpairent
                paragrharph-color fs-15 position-relative hover-border custom-shadow
                pr-32 pr-lg-0 pl-4 pr-2 px-lg-4  border-radius w-100 bg-white d-flex
                justify-content-between h-70">
                <input type="text" value="Registration appears to be broken" class="py-3 w-100 border-0 outline-none mb-0 pr-3 pr-lg-5"
                id="delText6">
                
                <span class="w-16">
                <img id="loadingImage8"
                    onclick="deleteRow('delText6')"
                   src="../../assets/delete-icone.png"
                    class="position-absolute delete-icone cursor-pointer"></span></div>
            </div>

        </div>

    </div>

</div>

